# Update the file extension to .env before run `npm install`
# For Cloud
# See link to create a supabase project in the cloud: https://docs.expo.dev/guides/using-supabase/
#EXPO_PUBLIC_SUPABASE_URL="STRING_URL_HERE"
#EXPO_PUBLIC_SUPABASE_ANON_KEY="STRING_ANON_KEY_HERE"

# For local development.
# Replace EXPO_PUBLIC_SUPABASE_URL with respective mobile platform's IP address
# Get DATABASE_URL and key values from `npm run db:status` output
#Android URL: http://10.0.2.2:64321
#iOS URL: http://127.0.0.1:64321
DATABASE_URL='POSTGRES_DATABASE_URL'
EXPO_PUBLIC_SUPABASE_URL='IOS_OR_ANDROID_URL_FOR_LOCAL_DEVELOPMENT'
EXPO_PUBLIC_SUPABASE_ANON_KEY='STRING_ANON_KEY_HERE'
EXPO_PUBLIC_SUPABASE_SERVICE_ROLE_KEY='STRING_SERVICE_ROLE_KEY_HERE'